<html lang="en">
<head>
  <meta charset="utf-8">

  <title>Terminal-rec</title>
  <meta name="description" content="The terminal-rec reproducer">
  <meta name="author" content="@cortezcristian">

  <link rel="stylesheet" href="css/styles.css?v=1.0">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  <script src="bower_components/term.js/src/term.js"></script>
  <script src="js/timeline.js"></script>
  <script src="js/player.js"></script>
  <script src="js/events.js"></script>
</head>

<body>
</body>
</html>
