html {
    background: #000;
}

span.terminal-cursor {
    width: 10px;
    background-color: #f0f0f0;
}

.terminal {
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 14px;
  color: #f0f0f0;
  background: #000;
}
