html {
    background: #000;
}

span.terminal-cursor {
    width: 10px;
    background-color: #f0f0f0;
}

.terminal {
  border: #000 solid 5px;
  font-family: "DejaVu Sans Mono", "Liberation Mono", monospace;
  font-size: 14px;
  color: #f0f0f0;
  background: #000;
}

#controls {
    margin: 0;
    padding: 0;
}

#controls li.ui-state-default {
    margin: 2px;
    position: relative;
    cursor: pointer;
    float: left;
    list-style: none;
}

#controls li.slide-con {
    width: 580px;
    float: left;
    padding: 8px 0 8px 14px;
}

#controls li.slide-con .ui-slider-handle {
    border-radius: 100px;
}

#controls a.ui-icon {
    float: left;
    margin: 4px;
}

